:root{
    --primary-colour: #71B3F4;
    --background-white: #F1F1F1;
    --text-black: #222222;
    --opacity-primary-color: rgba(113, 179, 244, 0.5);
}

body{
    background-color: var(--background-white);
}

/* header style */
header{
    margin-bottom: 150px;
}

nav{
    height: 20%;
}

nav img{
    width: 50%;
}

.navbar-toggler{
    width: 20%;
    border: none;
}

.bg-body-tertiary,
.offcanvas{
    background-color: #71B3F4 !important;
}

.navbar >.container-fluid{
    flex-wrap: nowrap;
}


.nav-item{
    text-align: center;
}

/* style for the main */
main h1,
main h2{
    text-align: center;
}

main h2,
main h3{
    background-color: var(--opacity-primary-color);
}

.carousel-inner{
    width: 70%;
    margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: var(--primary-colour);
}

/* activities section */


.alcActivities img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}

button{
    width: 100%;
}

.btn-secondary{
    border: 2px solid var(--primary-colour) !important;
    background-color: var(--background-white) !important;
    color: var(--text-black) !important;
}

.joinALC{
    background-color: var(--text-black);
}

.joinALC > h4{
    color: var(--primary-colour);
}

.btn-primary{
    background-color: var(--primary-colour) !important;
    color: black;
}

/* footer style */
footer > .card,
footer .list-group-item{
    background-color: var(--primary-colour);
}

footer .list-group-item{
    border: none;
    text-align: center;
}

.card >.list-group{
    border: none;
}

.list-group ul li{
    background-color: var(--primary-colour);
}


.infoFooter{
    display: flex;
    flex-wrap: wrap;
}

.infoFooter img{
    width: 50%;
    object-fit: contain;
    align-self: center;
}

.infoFooter .card-body{
    width: 50%;
}

.socialMediaIcons{
    display: flex;
    justify-content: space-between;
}