:root{
    --primary-colour: #71B3F4;
}

header{
    margin-bottom: 150px;
}


nav img{
    width: 50%;
}

.offcanvas{
    background-color: #71B3F4;
}

.nav-item{
    text-align: center;
}

main > h1,
main > h2{
    text-align: center;
}

.carousel-inner{
    width: 80%;
}

.carousel-control-prev,
.carousel-control-next{
    color: var(--primary-colour);
    font-size: x-large;
}


footer > .card,
footer .list-group-item{
    background-color: var(--primary-colour);
}

footer .list-group-item{
    border: none;
    text-align: center;
}

.card >.list-group{
    border: none;
}

.list-group ul li{
    background-color: var(--primary-colour);
}


.infoFooter{
    display: flex;
    flex-wrap: wrap;
}

.infoFooter img{
    width: 50%;
    object-fit: contain;
}

.infoFooter .card-body{
    width: 50%;
}