:root{
    --primary-colour: #71B3F4;
    --background-white: #F1F1F1;
    --text-black: #222222;
    --opacity-primary-color: rgba(113, 179, 244, 0.5);
    --fonts-headings: 'Raleway', sans-serif;
    --fonts-paragraphs: 'DM Sans', sans-serif;
}

body{
    background-color: var(--background-white) !important;
    font-size: 16px;
    font-family: var(--fonts-paragraphs);
}

body h1,
body h2,
body h3,
.nav-item{
    font-family: var(--fonts-headings);
}

body h1{
    font-size: 2em;
}

body h2{
    font-size: 1.75em;
}

body h3{
    font-size: 1.5em;
}

body p{
    font-size: 1.25em;
}

.btn{
    font-size: 1.25em;
}

.container, 
#offcanvasNavbar{
    margin-top: 1em;
}

/* style for skip links */
.skip-links {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-white);
    width: 100%;
    z-index: 1050;
    display: flex;
    gap: 3em;
    font-size: 1em;
    padding-left: 1.5em;  
}

a:link,
a:visited,
a:hover,
a:focus,
a:active,
.navbar-toggler:focus,
.btn-close:focus {
    text-decoration: none;
    border: none !important;
    outline: none !important        ;
}

a:focus-visible,
.navbar-toggler:focus-visible,
.btn-close:focus-visible{
    border: 5px solid red !important;
    outline: none !important;
}

/* header style */
header{
    padding-top: 9em;
}

nav img{
    width: 240px;    
}

.navbar-toggler{
    width: 10%;
    border: none;
}

.bg-body-tertiary,
.offcanvas{
    background-color: #71B3F4 !important;
}

/* style for the join the ALC button on the nav */
.nav-item:nth-child(4) a{
    background-color: var(--text-black);
    color: var(--background-white);
    border-radius: 3em;
}

.hvr-bounce-to-right{
    color: inherit;
    position: relative;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-black);
    border-radius: 3em;
    transform: none;
    transition: none;
}
  
.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
    color: inherit;
}

.nav-item{
    text-align: center;
    padding-top: 1em;
}

/* style for the main */
main h1,
main h2{
    text-align: center;
}

main h2,
main h3{
    background-color: var(--opacity-primary-color) !important;
}

.carousel-inner{
    width: 70%;
    margin: auto;
}


.carousel-control-prev svg,
.carousel-control-next svg {
    background-color: var(--primary-colour); /* Change background */
    fill: var(--text-black); 
}

/* activities section */
.alcActivities img{
    width: 100%;
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.arrowRight svg,
.arrowLeft svg{
    background-color: var(--primary-colour); /* Change background */
    fill: var(--text-black); 
}


button{
    width: 100%;
}

.btn:hover{
    color: var(--text-black) !important;
}

/* disable hover effects for secondary button on smaller screens */
.hvr-sweep-to-right{
    color: inherit;
    border: var(--primary-colour);
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-white);
    transform: none;
    transition: none;
}
  
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active{
    color: var(--background-white);
}
  

.btn-secondary{
    border: 5px solid var(--primary-colour) !important      ;
    background-color: var(--background-white) !important;
}

.btn-secondary a{
    text-decoration: none;
    color: var(--text-black);
}

.joinALC{
    background-color: var(--text-black);
}

.joinALC > h4{
    color: var(--primary-colour);
    text-wrap: initial;
}

.carousel-control-prev{
    color: inherit;
}

.hvr-primary-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    transition: none;
 }
  
.hvr-primary-sweep-to-right:hover,
.hvr-primary-sweep-to-right:focus,
.hvr-primary-sweep-to-right:active {
    color: inherit;
}

.btn-primary{
    background-color: var(--primary-colour) !important;
    border: 5px solid var(--primary-colour) !important;
    color: black !important;
}

/* footer style */
footer,
footer .list-group-item{
    background-color: var(--primary-colour);
}

footer .list-group-item{
    border: none;
    text-align: center;
}

.infoFooter{
    display: flex;
    justify-content: center;
}

.infoFooter img{
    width: 30%;
    object-fit: contain;
    align-self: flex-start;
    padding-top: 1em;
    padding-left: 1em;
}

.infoFooter .contactALC{
    width: 60%;
    font-size: 0.8em;
    margin-left: 1em;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.socialMediaIcons{
    display: flex;
    gap: 4em;
}

.socialMediaIcons > a:link,
.socialMediaIcons > a:visited,
.socialMediaIcons > a:focus,
.socialMediaIcons > a:hover{
    color: var(--text-black);
}

.list-group-item > a:link,
.list-group-item > a:visited,
.list-group-item > a:focus,
.list-group-item > a:hover{
    color: var(--text-black);
    text-decoration: none;
}

/* CSS for the schedule page */
.headingSchedule{
    text-align: left;
}

.accordion-button{
    font-size: 1.5rem !important;
}

/* CSS for the about page */
.card-body{
    width: 100%;
    background-color: var(--opacity-primary-color);
    border: 10px var(--primary-colour) solid;
}

.staffALC img{
    width: 100%;
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* media query for tablet */
@media screen and (min-width: 768px){
    body h1{
        font-size: 2.5em;
    }
    
    body h2{
        font-size: 2em;
    }
    
    body h3{
        font-size: 1.75em;
    }
    
    body p{
        font-size: 1.35em !important;
    }
    
    .btn{
        font-size: 1.5em;
    }

    nav{
        display: flex;
        flex-direction: row;
    }

    .navbar-brand img{
        width: 50%;
    }

    .navbar-toggler{
        width: 10%;
    }

    /* changes the schedule page for tablet */
    .contentOpening, 
    .contentClasses{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        gap: 2em;
    }

    .openingImage, 
    .classesImage{
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .openingImage img{
        width: 100%;
        max-width: 400px;
    }

    .classesImage img{
        width: 80%;
        max-width: 400px;
    }
    
}

/* media query for desktop */
@media screen and (min-width: 1200px) {
    body h1{
        font-size: 3em;
    }
    
    body h2{
        font-size: 2.5em;
    }
    
    body h3{
        font-size: 2em;
    }
    
    body p{
        font-size: 1.5em;
    }

    .btn{
        font-size: 1.75em;
    }

    .navbar img{
        width: 240px;
    }

    .nav-item{
        font-size: 1.35em;
        margin-left: 2em;
    }

    /* set grid size for the desktop */
    .accordion{
        width: 100%;
        align-self: center;
    }

    .openingImage{
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .openingImage img{
        width: 70%;
        object-fit: contain;
    }

    /* animation for the join the ALC button */
    .hvr-bounce-to-right{
        display:inline-block;
        vertical-align:middle;
        -webkit-transform:perspective(1px) translateZ(0);
        transform:perspective(1px) translateZ(0);
        box-shadow:0 0 1px rgba(0,0,0,0);
        position:relative;
        -webkit-transition-property:color;
        transition-property:color;
        -webkit-transition-duration:.5s;
        transition-duration:.5s;
    }
    
    .hvr-bounce-to-right:before{
        content:"";
        position:absolute;
        z-index:-1;
        top:0;
        left:0;
        right:0;
        bottom:0;
        -webkit-transform:scaleX(0);
        transform:scaleX(0);
        -webkit-transform-origin:0 50%;
        transform-origin:0 50%;
        -webkit-transition-property:transform;
        transition-property:transform;
        -webkit-transition-duration:.5s;
        transition-duration:.5s;
        -webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
            
    .navbarDesktop > .nav-item:nth-child(4) a:active,
    .navbarDesktop > .nav-item:nth-child(4) a:focus,
    .navbarDesktop > .nav-item:nth-child(4) a:hover{
        color: var(--text-black);
        background-color: var(--background-white);
    }
            
    .nav-item:nth-child(4) a:active:before,
    .nav-item:nth-child(4) a:focus:before,
    .nav-item:nth-child(4) a:hover:before{
        -webkit-transform:scaleX(1);
        transform:scaleX(1);
        -webkit-transition-timing-function:cubic-bezier(0.52,1.64,.37,.66);transition-timing-function:cubic-bezier(0.52,1.64,.37,.66);
    }

    /* sets hover animation for desktop-only */
    .hvr-sweep-to-right{
        display:inline-block;
        color: var(--background-white);
        position: relative;
        vertical-align:middle;
        -webkit-transform:perspective(1px) translateZ(0);
        transform:perspective(1px) translateZ(0);
        box-shadow:0 0 1px rgba(0,0,0,0);
        position:relative;
        -webkit-transition-property:color;
        transition-property:color;
        -webkit-transition-duration:.3s;
        transition-duration:.3s;
    }

    .hvr-sweep-to-right:before{
        content:"";
        position:absolute;
        z-index:-1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--primary-colour);
        -webkit-transform:scaleX(0);
        transform:scaleX(0);
        -webkit-transform-origin:0 50%;
        transform-origin:0 50%;
        -webkit-transition-property:transform;
        transition-property:transform;
        -webkit-transition-duration:.3s;
        transition-duration:.3s;
        -webkit-transition-timing-function:ease-out;transition-timing-function:ease-in-out;
    }
    
    .hvr-sweep-to-right:active,
    .hvr-sweep-to-right:focus,
    .hvr-sweep-to-right:hover{
        color: var(--background-white);
    }
    
    .hvr-sweep-to-right:active:before,
    .hvr-sweep-to-right:focus:before,
    .hvr-sweep-to-right:hover:before{
        -webkit-transform:scaleX(1);
        transform:scaleX(1);
    }
    
    /* hover for primary button */
    .hvr-primary-sweep-to-right{
        display:inline-block;
        color: var(--text-black);
        position: relative;
        vertical-align:middle;
        -webkit-transform:perspective(1px) translateZ(0);
        transform:perspective(1px) translateZ(0);
        box-shadow:0 0 1px rgba(0,0,0,0);
        position:relative;
        -webkit-transition-property:color;
        transition-property:color;
        -webkit-transition-duration:.3s;
        transition-duration:.3s;
    }

    .hvr-primary-sweep-to-right:before{
        content:"";
        position:absolute;
        z-index:-1;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: var(--background-white);
        -webkit-transform:scaleX(0);
        transform:scaleX(0);
        -webkit-transform-origin:0 50%;
        transform-origin:0 50%;
        -webkit-transition-property:transform;
        transition-property:transform;
        -webkit-transition-duration:.3s;
        transition-duration:.3s;
        -webkit-transition-timing-function:ease-out;transition-timing-function:ease-in-out;
    }
    
    .hvr-primary-sweep-to-right:active,
    .hvr-primary-sweep-to-right:focus,
    .hvr-primary-sweep-to-right:hover{
        color: var(--text-black);
        background-color: var(--background-white);
    }
    
    .hvr-primary-sweep-to-right:active:before,
    .hvr-primary-sweep-to-right:focus:before,
    .hvr-primary-sweep-to-right:hover:before{
        -webkit-transform:scaleX(1);
        transform:scaleX(1);
    }
}